<% provide(:title, "Home") %>

<% if logged_in? %>
    <div>
        <aside>
            <section>
                <%= render 'shared/user_info' %>
            </section>
            <section>
                <%= render 'shared/micropost_form' %>
            </section>
        </aside>
        <div>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <div>
        <h1>Community for Dogs</h1>
        <h2>This is the home page for the Community for Dogs</h2>

        <%= link_to "Sign up now!", signup_path, class: "btn" %>
    </div>
<% end %>
