<li>
    <span><%= dog.name %></span>
    <% if dog.image_name.present? %>
        <%= link_to image_tag("#{dog.image_name}" ), dog_path(dog) %>
    <% else %>
        <%= link_to image_tag("/default.jpg" ), dog_path(dog) %>
        <!-- <%= link_to dog.name, '#' %> -->
    <% end %>
</li>