<li>
    <% if dog.image_name.present? %>
        <%= link_to image_tag("#{dog.image_name}", :size => '200x250'), '#' %>
    <% else %>
        <%= link_to image_tag("/default.jpg", :size => '200x250'), '#' %>
        <!-- <%= link_to dog.name, '#' %> -->
    <% end %>
    <span><%= dog.name %></span>
</li>