<% provide(:title, "Edit user") %>
<% provide(:btn_text, "編集") %>
<% provide(:path, user_path) %>

<h1>ユーザー編集</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'users/form' %>

        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank" class="btn btn-outline-success">画像編集</a>
        </div>
        <br>
        <% if !current_user.admin? && current_user?(@user) %>
            <%= link_to "ユーザー削除", @user, method: :delete, data: {confirm: "削除してよろしいですか"}, class: "btn btn-outline-success" %>
        <% end %>
    </div>
</div>