<% provide(:title, "Room") %>
<div>
    <%= render 'rooms/member' %>
    <hr>
    <div class="chat">
        <%= render 'rooms/chat.feed' %>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <%= render 'rooms/form' %>
    </div>
</div>