<footer class="footer">
    <small>
        DOG LIFE by Hibiki Miyazawa
    </small>
    <nav>
        <ul>
            <li><%= link_to "サイトについて", about_path %></li>
            <li><%= link_to "お問い合わせ", contact_path %></li>
            <!-- <li><%= link_to "ヘルプ", help_path %></li> -->
        </ul>
    </nav>
</footer>